.section{
    width: 100%;
    height: auto;
    padding-top: 30px;
}

.search-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.search-container input{
    font-size: 15px;
    font-family: inherit;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 90px;
    border: none;
    border-radius: .25rem;
    width: 350px;
    text-align: left;
    box-sizing: border-box;
    outline-color: snow;
}

.search-container button{
    font-size: 15px;
    font-family: inherit;
    vertical-align: middle;
    border: none;
    color: #0395ff;
    background-color: transparent;
    display: flex;
    margin-left: 50px;
    padding: 10px;
    position: absolute;
    right: 50px;
}

.search{
  position: relative;
  right: -50px;
}
@media only screen and (max-width: 900px){
  .search-container button{
    position: relative;
  }
}

/* Table */
.table {
    border-collapse: collapse;
    width: 90%;
    margin: 30px auto;
  }
  
  .table-head {
    color: white;
  }

  td img{
    cursor: pointer;
  }
  
  td,
  th {
    text-align: center;
  }
  
  tr {
    height: 20px;
    text-align: center;
  }

  th, td{
      padding: 10px;
  }
  
  .table .default {
    background: #e8f1f9;
  }
  
  .default{
      border-bottom: 20px solid #e6eaee;
  }

  .table{
    height: 20px;
  }
  
  .table .table-head .row1 {
    background: #0395ff;
  }
  
  .gfg {
    border-collapse: separate;
    border-spacing: 0 15px;
  }
  
  .bin {
    max-width: 20px;
    max-height: 20px;
  }
  
  .pencil {
    max-width: 20px;
    max-height: 20px;
    margin-right: 10px;
  }

  .row-mid{
    padding-bottom: 10px;
  }

  /* Modal */

.modal{
  width: 600px;
  height: fit-content;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  margin: auto;
  vertical-align: middle;
  bottom: 0;
  right: 0;
  display: none;
  border-radius: .25rem;
}

.modOut{
  display: block !important;
}

.overlay{
  height: 100vh;
  width: 100%;
  background-color: #000;
  opacity: 0.2;
  position: fixed;
  top: 0;
  display: none;
}

.modal img{
  height: 20px;
}

.head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 40px;
}

.head img{
  cursor: pointer;
}

.modal input{
  width: 90%;
  padding: 10px;
  font-family: inherit;
  border: 1px solid #000;
}

.modal input::placeholder{
  font-family: inherit;
}

.input-g{
  width: 90%;
  margin: auto;
}

.input-g p{
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left !important;
}

.modal button{
  padding: 8px;
  width: 120px;
  border: none;
  border-radius: .5rem;
  font-size: 15px;
  font-family: inherit;
  color: #fff;
}

.blue{
  background-color: #0395ff;
}

.red{
  background-color: red;
  margin-right: 10px;
}

.buttons{
  width: fit-content;
  margin: 20px auto;
}

.navMobile{
  display: flex;
  justify-content: space-around;
  width: 100px;
}

/* Edit profile */
.profile{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 30px auto;
    padding: 30px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.detail{
  display: flex;
}

.name-group{
  width: auto;
}
.name-groupl{
  width: 600px;
}

.name-groupl p{
  margin: 5px;
  font-size: 15px;
}

.name-groupl p:first-child{
  font-weight: bold;
}


.name-group p{
  margin: 5px;
  font-size: 15px;
}

.name-group p:first-child{
  font-weight: bold;
}

.editProfile h3{
  margin: 20px auto;
  width: 70%;
}

.editHeading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 40px;
}

.editHeading img{
  height: 30px;
  cursor: pointer;
}

.editProfileContainer{
  width: 96%;
  height: auto;
  background-color: #fff;
  margin: auto;
  padding: 30px 0px;
}

.editProfileContainer p{
  font-size: 15px;
  font-weight: bold;
}

.field-name{
  font-weight: bold;
  width: 400px;
  margin-bottom: 20px;
}

.field-details-flex{
  display: flex;
  flex-wrap: wrap;
}

.field-details-flex2{
  display: flex;
  flex-direction: column;
}

.input-field{
  display: flex;
  width: 70%;
  margin: auto;
  align-items: baseline;
  flex-wrap: wrap;
  flex-direction: row;
}

.input-field input{
  padding: 10px;
  font-family: inherit;
  border: 1px solid #000;
  border-radius: .25rem;
  width: 225px;
}

.input-field textarea{
  padding: 10px;
  font-family: inherit;
  border: 1px solid #000;
  border-radius: .25rem;
  width: 250px;
  height: 150px;
}

.pr{
  padding-right: 30px;
}

.icon{
  width: 43%;
}

.wid-4{
  width: 500px !important;
}

.field{
  margin-bottom: 30px;
}

.notbold{
  font-weight: lighter !important;
}

.updateProfileBtn{
  padding: 10px;
  border: none;
  background-color: #0395ff;
  font-family: inherit;
  color: #fff;
  border-radius: .25rem;
  margin-bottom: 30px;
}

.proBtn{
  border: none;
  background-color: transparent;
  font-size: 15px;
  font-family: inherit;
  color: #0395ff;
}

.backBtn{
  background-color: red !important;
  margin-right: 10px;
}

.ma{
  margin: 10px auto;
}

.detail button{
  border: none;
  background-color: #0395ff;
  font-size: 16px;
  font-family: inherit;
  color: #fff;
  padding: 4px;
  border-radius: 5px;
  width: 100px;
}

.select-css2 {
  font-size: 15px;
  font-family: inherit;
  height: 41px;
  color: #fff;
  padding: 5px;
  box-sizing: border-box;
  margin: 0;
  border: none;
  background-color:#0395ff;
  outline: none;
  position: relative;
  left: 80px;
  border-right: 2px solid#0395ff;
  border-radius: .25rem;
} 

.select-css2 option{
  background-color: #fff;
  color: #0395ff;
}



@media only screen and (max-width: 850px){
  .field-details{
      width: 90%;
  }

  .field-details input{
      width: 100%;
  }

  .wid-4{
      width: 100% !important;
  }
  .pr{
      padding-right: 0px;
  }
  .field{
      width: 100%;
  }
  .input-field textarea{
      width: 100%;
  }
  .icon{
      display: none;
  }
}

@media only screen and (min-width: 500px){
  .ham{
    display: none;
  }
}

@media only screen and (max-width: 500px){
  .search-container button{
    margin-left: 0px;
    right: 0;
  }
  .search-container input{
    width: 80%;
  }
  .modal{
    width: 100%;
  }
  .table{
    width: 120%;
  }
  .table-container{
    overflow-x: scroll;
  }
  .table-container::-webkit-scrollbar-thumb{
      background-color: #0395ff;
      border-radius: 0.25rem;
  } 
  .table-container::-webkit-scrollbar{
    width: 1em;
    height: 10px;
  }
}
