.card-container{
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: left;
}

.card{
    display: flex;
    justify-content: center;
    height: 150px;
    width: 180px;
    flex-direction: column;
    background-color: #fff;
    margin: 20px;
    padding: 1.25rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px rgba(119, 119, 119, 0.2);
    border-bottom: 3px solid #75ae25;
}

.card:hover{
    transform: scale(1.05);
    color: #fff;
    background-color: #75ae25;
}

.card img{
    height: 30px;
    margin-left: auto;
}

.card p{
    margin-top: 5px;
}

.timetable-update{
    height: 380px;
    width: 360px;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 70px;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.timetable-update p{
    color: #737A91;
    font-size: 18px;
    font-weight: bold;
}

.timetable-update hr{
    width: 99%;
}

.timetable-update p:first-child{
    color: #000;
}

.timetable-update button{
    padding: 10px;
    background-color: #0395ff;
    color: #fff;
    border: none;
    border-radius: .25rem;
    font-size: 15px;
    font-family: inherit;
    margin-top: 40px;
}

.updateOut{
    display: flex;
}

/* Checkbox */
/* Customize the label (the container) */
.container {
    position: relative;
    padding-left: 50px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 13px;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    margin-left: 20px;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .dashModal{
      width: 600px !important;
  }

  .labels{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 10px;
  }