.profile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 200px;
    margin: 
    30px auto;
    background-color: #fff;
}

.profile-left{
    display: flex;
    align-items: center;
}

.detail{
    display: flex;
}

.name-group p{
    margin: 5px;
    font-size: 15px;
}

.name-group p:first-child{
    font-weight: bold;
}

.icon{
    height: 150px;
}